.card {
    @include card(40px, 30px, 380px);
    & h1 {
        font-size: 24px;
        margin: 0;
        padding: 0;
        color: $darkShade-100;
        margin-bottom: 20px;
        font-weight: 700;
    }
    &__email,
    &__password {
        display: block;
        width: calc(100% - 31px);
        margin: 0 auto;
    }
    &__btn {
        margin-top: 10px;
    }
    & form {
        display: flex;
        gap: 10px;
        flex-direction: column;
        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            color: $darkShade-100;
        }
    }
}