

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid $stroke;
    border-radius: $borderRadius;
    padding: 13px 15px;
    font-size: $mainTextSize;
    &:hover,
    :focus {
        border: 1px solid $darkShade-50;
    }
   
    outline: none;
}
.input__label
{
   
        color:$darkShade-100 ;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
}