@mixin card($padding-y, $padding-x, $max-width) {
    border-radius: $borderRadius;

    box-shadow: $cardBoxShadow;
    padding: $padding-y $padding-x;
    max-width: calc($max-width - ($padding-x) * 2 + 5px);
}

@mixin button() {
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 14px 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition:  $animation;
}